*,*::before,*::after{
  box-sizing:border-box;
}

body{
  background-image: radial-gradient(circle at center, #AAB6D7, #233669 100%);
  color:#FFF;
}

.container{
  width:100%;
  margin: 2.5rem auto 0 auto;
  padding:5px;
}

form{
  display: block;
  background:#0b1f40;
  padding: 2.5rem;
}

  @media (min-width:480px){
    form{
      padding: 2.5rem;
    }
  }
  
 @media (min-width:576px){
    .container{
      max-width: 540px;
    }
  }

@media (min-width:768px){
  .container{
    max-width: 720px;
  }
}
#title{
  opacity:.75;
  width:100%;
  padding-top: 10px;
  padding-bottom: 5px;
}

h1{
  font-size:40px;
  margin: .25em auto .1em auto;
}

h2{
  font-size:25px;
  margin: .1em auto;
}

#description{
  text-align:center;
  font-size:20px;
  font-style: italic;
  color:#FFF;
  opacity:0.7;
  margin:.5em auto;
}
.form-control{
  display: block;
  width:100%;
  height: 2.75rem;
  padding:0.375rem 0.75rem;
  background-clip: padding-box;
  border:2px solid #555;
  border-radius:.5em;
  font-size:20px;
 }

.formlabel{
  font-size:20px;
  color:#FFF;
  margin-bottom:3px;
}

.formgroup{
  margin:0 auto 1.25rem auto;
  padding: 0.25rem;
  font-size:18px;
}

label{
  display:flex;
  align-items:center;
}

.input-checkbox{
  display:inline-block;
  font-size:20px;
  margin:5px;
  min-height:1.1em;
  min-width:1.1em;
}

.commentbox{
  display: block;
  width:100%;
  min-height:120px;
  padding:0.375rem 0.75rem;
  resize: vertical;
  border:2px solid #555;
  border-radius:.5em;
}

.submit-button{
  width:100%;
  height: 2.5rem;
  border-radius:.5em;
  border:none;
  background-color:#3355FF;
  font-size:20px;
}

