*, ::before, ::after{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  line-height:1.5em;
}

#main-doc{
  position:absolute;
  left:200px;
  padding:10px 10px 10px 30px;
}

.main-section{
  display:block;
  margin:10px 0px 20px 0px;
}

header{
  margin-bottom:20px;
}

#navbar{
  position:fixed;
  height:100%;
  width:200px;
  float:left;
  overflow-x:hidden;
  border:1px solid #AAA;
  background-color:#CCC;
}

nav header{
  text-align:center;
  margin:10px auto;
  padding:10px;
}

#navbar li{
  list-style:none;
  padding:10px;
  border-top:1px solid #AAA;
  border-right:1px solid #AAA;
}

.nav-link{
  color:black;
  padding-left:15px;
}

#navbar li:hover{
  background-color:#EEE;
}

@media screen and (max-width:700px)
{
  #navbar{
    position:relative;
    top:0px;
    width:100%;
    height:auto;
    float:none;
    margin:5px;
    line-height:1.5em;
    text-align:center;
  }
  
  #navbar li{
    display:inline-block;
    border:none;
  }
  
  #main-doc{
    left:0px;
  }
  
  nav header{
    border-bottom:1px solid #AAA;
  }
}

ul{
  line-height:1.5em;
  padding-left:3em;
}

li{
  list-style-position:inside;
  text-indent:-1em;
}
@media screen and (max-width:400px)
{
  #navbar{
    position:relative;
    top:0px;
    width:100%;
    height:auto;
    float:none;
  }
  
  #navbar li{
    display:block;
    text-align:center;
    border-top:1px solid #AAA;
    padding-top:5px;
    padding-bottom:5px;
  }
  
  #main-doc{
    left:0px;
  }
  
  nav header{
    border:none;
  }
}

li.subheading{
  font-size:1.1em;
  font-style: italic;
}

.subp{
  position:relative;
  left:10px;
  text-indent:-1;
}

code{
  display:inline-block;
  background-color:#DDD;
}